# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# env
.env
.env*.local

# prisma
/prisma/*.db

# typescript
tsconfig.tsbuildinfo

# misc
.DS_Store
*.pem
npm-debug.log*
.vscode/*
!.vscode/extensions.json
/coverage
